<div class="formCrear" >
    <mat-form-field>
        <input matInput type ="text" placeholder="Nickname">
    </mat-form-field>
    <mat-form-field>
        <input matInput type ="text" placeholder="# de Vueltas">
    </mat-form-field>
    <mat-form-field>
        <input matInput type ="text" placeholder="Maximo jugadores">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Modo</mat-label>
        <mat-select>
            <mat-option value="1">Normal</mat-option>
            <mat-option value="2">Vs Tiempo</mat-option>
          </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Pista</mat-label>
        <mat-select>
            <mat-option value="1">algo</mat-option>
            <mat-option value="2">algo2</mat-option>
          </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Vehículo</mat-label>
        <mat-select>
            <mat-option value="1">Rojo</mat-option>
            <mat-option value="2">Azul</mat-option>
            <mat-option value="3">Verde</mat-option>
            <mat-option value="4">Naranja</mat-option>
            <mat-option value="5">Negro</mat-option>
            <mat-option value="6">Blanco</mat-option>
          </mat-select>
    </mat-form-field>
</div>
<div class="acept">
    <section>
        <div class="example-button-row">
          <button mat-raised-button color="primary">Crear</button>
        </div>
      </section>
</div>

