<div class="form-unir" >
    <mat-form-field>
        <input matInput type ="text" placeholder="Nickname">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Vehículo</mat-label>
        <mat-select>
            <mat-option value="1">Rojo</mat-option>
            <mat-option value="2">Azul</mat-option>
            <mat-option value="3">Verde</mat-option>
          </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Juegos</mat-label>
        <mat-select>
            <mat-option value="1">Rojo</mat-option>
            <mat-option value="2">Azul</mat-option>
            <mat-option value="3">Verde</mat-option>
          </mat-select>
    </mat-form-field>
</div>
<div class="acept">
    <section>
        <div class="example-button-row">
          <button mat-raised-button color="primary">Crear</button>
        </div>
      </section>
</div>
